@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
div.facebook img {
  height: 286px;
  width: 405px;
}
div.facebook {
  text-align: center;
}
div.content input{
    height: 45px;
    width: 330px;
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 6px;
    
}
div.content{
    text-align: center;
}
body{
    background-color: rgb(240, 253, 255);
}
div.container{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 0px;
}
div.container div.content input.text{
    font-family: 'Inter', sans-serif;
    border: 1px solid grey;
    margin-top: 11px;
    /* margin-bottom: ; */
    /* margin-left: ; */
    /* margin-right: ; */
}
div.container div.content input.password{
    font-family: 'Inter', sans-serif;
    height: 45px;
    width: 330px;
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-top: -8px;
    margin-bottom: 9px;
    
}
div.container div.content h3.h3{
    font-size: 26px;
    font-family: 'Inter', sans-serif;
}
div.container{
    margin-top: -85px;
    margin-left: 420px;
    margin-right: 420px;
}
div.container div.content{
    margin-bottom: 120px;
}
div.container div.content button.login{
    width: 365px;
    height: 45px;
    background-color: blue;
    color: white;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
}
div.container div.content a.fis{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: blue;
    margin-left: -48px;
}
div.container div.content a.sec{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: blue;
    margin-left: 1px;
}