body{
    background-image: url(routines-sporten-gym-opbouwen-1-scaled.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.container .nav ul {
    display: flex;
    margin: 30px 45px;
}
.container .nav ul li a{
    color: #fff;
    list-style-type: none;
    padding: 15px 35px;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.container .nav ul li a:hover{
    color: black;
    background-color: #fff;
    transition: 1s;
    transition-timing-function: ease-out;
}
*{
    margin: 0;
    padding: 0;
}
.container .nav ul .a a{
    border: 3px solid #fff;
    margin: 0px 15px;
    padding: 15px 35px;
    border-radius: 3px;
}
.container .nav ul .b a{
    border: 3px solid #fff;
    margin: 0px 15px;
    padding: 15px 35px;
    border-radius: 3px;
}
.container .nav ul .c a{
    border: 3px solid #fff;
    margin: 0px 15px;
    padding: 15px 35px;
    border-radius: 3px;
}
.container .main{
    font-size: 3.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 94px 174px;
}