@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.container {
  display: flex;
  justify-content: center;
}
.container .image img {
  position: relative;
  top: 48px;
  left: 194px;
}
.container .box {
  height: 20rem;
  width: 24rem;
  position: relative;
  top: 17vh;
  left: -7vw;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  opacity: 75%;
}
.container .box span {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  position: relative;
  font-weight: bolder;
  top: 25px;
  left: -1px;
}
.container .box .i1 {
  height: 55px;
  width: 326px;
  position: relative;
  top: 45px;
  left: 0px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 6px;
  padding: 0px 13px;
  font-size: 17px;
  color: #646161;
  opacity: 102%;
}
.container .box .i2 {
  height: 55px;
  width: 326px;
  position: relative;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 6px;
  padding: 0px 13px;
  font-size: 17px;
  color: #646161;
  opacity: 102%;
  top: 58px;
}
.container .box a .b1 {
  height: 50px;
  width: 351px;
  position: relative;
  padding: 0px 13px;
  font-size: 19px;
  top: 70px;
  background-color: rgb(41, 91, 199);
  border: 0px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}
.container .box a .b1:hover {
  background-color: rgb(0, 55, 173);
}
.container .box .gg1 a {
  position: relative;
  top: 65px;
  left: -6px;
  font-size: 14px;
  text-decoration: none;
  color: rgb(79, 126, 226);
  /* color: rgb(0, 55, 173); */
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}
.container .box .gg1 a:hover {
  text-decoration: underline;
}
.container .box .gg2 a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(79, 126, 226);
  /* color: rgb(0, 55, 173); */
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  position: relative;
  top: 65px;
  left: -1px;
  text-decoration: none;
}
.container .box .gg2 a:hover {
  text-decoration: underline;
}
